<!doctype html>
<html lang="ru-RU">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="">
	<meta name="keywords" content="">

	<link rel="stylesheet" href="style.css?v1" media="all">
	<link rel="stylesheet" href="assets/vendor/css/nouislider.min.css?v1" media="all">
	<link rel="stylesheet" href="assets/vendor/css/jquery-ui.css?v1" media="all">
	<link rel="stylesheet" href="assets/vendor/css/jquery-ui.theme.css?v1" media="all">

	<title>MarketPlace</title>
</head>

<body>
	<header>
		<div class="wrapper">
			<div class="header">
				<a href="#" class="header-logo">
					Marketplace
				</a>

				<div class="header-search">
					<form action="">
						<input type="text" placeholder="search for a product, flower, etc" class="header-search__input">
					</form>
				</div>

				<div class="header-filter">
					<label class="header-filter__checkbox">
						<input type="checkbox" name="type">
						<span class="icon icon--grass"></span>
						Buds
					</label>
					<label class="header-filter__checkbox">
						<input type="checkbox" name="type">
						<span class="icon icon--grass"></span>
						Edible
					</label>
					<label class="header-filter__checkbox">
						<input type="checkbox" name="type">
						<span class="icon icon--grass"></span>
						Non Edible
					</label>
					<label class="header-filter__checkbox">
						<input type="checkbox" name="type">
						<span class="icon icon--grass"></span>
						Concentrate
					</label>
				</div>
			</div>
		</div>
	</header>
	<main class="main">