@keyframes showFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showMobileMenu {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes hideOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideMobileMenu {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}