.header {
  display: flex;
  align-items: center;

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
}

.header-logo {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  margin-right: 16px;

  @media (max-width: 700px) {
    font-size: 20px;
  }
}

.header-search {
  width: 470px;
  margin-right: 16px;
  &__input {
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.725 20.312L18.015 16.632C19.4551 14.8364 20.1525 12.5573 19.9638 10.2633C19.7751 7.9693 18.7147 5.83478 17.0005 4.29864C15.2864 2.76251 13.0488 1.94151 10.7479 2.00447C8.44705 2.06743 6.25773 3.00956 4.63015 4.63714C3.00257 6.26472 2.06044 8.45404 1.99748 10.7549C1.93452 13.0558 2.75552 15.2934 4.29165 17.0075C5.82779 18.7217 7.96231 19.7821 10.2563 19.9708C12.5503 20.1595 14.8294 19.4621 16.625 18.022L20.305 21.702C20.3952 21.7999 20.5041 21.8787 20.6252 21.9337C20.7464 21.9887 20.8774 22.0188 21.0104 22.0222C21.1435 22.0257 21.2758 22.0024 21.3997 21.9537C21.5235 21.905 21.6363 21.832 21.7314 21.7389C21.8265 21.6458 21.902 21.5346 21.9533 21.4118C22.0046 21.289 22.0307 21.1572 22.0301 21.0241C22.0295 20.891 22.0022 20.7594 21.9498 20.6371C21.8974 20.5148 21.8209 20.4042 21.725 20.312ZM11.015 18.022C9.63054 18.022 8.27716 17.6115 7.12602 16.8423C5.97487 16.0731 5.07767 14.9799 4.54785 13.7008C4.01804 12.4217 3.87942 11.0142 4.14951 9.65637C4.41961 8.2985 5.0863 7.05122 6.06526 6.07225C7.04423 5.09328 8.29151 4.4266 9.64938 4.1565C11.0072 3.88641 12.4147 4.02503 13.6938 4.55484C14.9729 5.08466 16.0661 5.98186 16.8353 7.13301C17.6045 8.28415 18.015 9.63753 18.015 11.022C18.015 12.8785 17.2775 14.659 15.9648 15.9717C14.652 17.2845 12.8715 18.022 11.015 18.022Z' fill='%23959595'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 20px 50%;
    background-color: transparent;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 12px;
    height: 48px;
    padding: 12px 20px 12px 54px;
    transition: all .3s ease;

    &:focus {
      border-color: #fff;
    }

    @media (max-width: 700px) {
      padding-left: 42px;
      background-position: 10px 50%;
      font-size: 14px;
      height: 40px;
    }
  }

  @media (max-width: 992px) {
    margin-left: auto;
    margin-right: 0;
  }

  @media (max-width: 700px) {
    width: 160px;
  }
}

.header-filter {
  display: flex;
  align-items: center;

  &__checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .icon {
      margin-right: 10px;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        background: rgb(23,23,34);
        background: linear-gradient(59deg, #353542 0%, rgba(132,213,44,0.26) 100%);
        border-radius: 10px;
        transition: all .3s ease;
      }

      &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        z-index: -1;
        background: #353542;
        border-radius: 10px;
        transition: all .3s ease;
      }

      &:checked {
        &:after {
          background: #212129;
          box-shadow: 0 3px 15px 0 rgba(132, 213, 44, 0.2);
        }
        &:before {
          background: #212129;
          background: linear-gradient(59deg, #212129 0%, rgba(132,213,44,0.1) 100%);
        }
      }
    }

    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 992px) {
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
  }
}